@import "tailwindcss";

:root {
  font-family: 'Space Mono', serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  background-color: #686868;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: #202020;
  width: 4px;
  height: 4px;
}

.bg-dark-border {
  background-color: #222222;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.snake {
  position: relative; 
  z-index: 1;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.snake::after, .snake::before {
  content: '';
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from var(--angle), transparent, #ffa500 50%, transparent 50%, #ffa500);
  border-radius: 14px;
  z-index: -1; 
  animation: 3s spin linear infinite;
}

.snake::before {
  filter: blur(0.6rem);
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}


@keyframes blink {
  0% {
    background-color: #16ac4d;
  }
  50% {
    background-color: #5ce68f;
  }
  100% {
    background-color: #16ac4d;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  height: 100%;
  background: linear-gradient(to left, transparent, #111111);
  z-index: 2;
  content: '';
}

.logos:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 8%;
  height: 100%;
  background: linear-gradient(to right, transparent, #111111);
  z-index: 2;
  content: '';
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}










